<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJJJJS</title>
</head>
<body>
    <h1>Hello bruh</h1>
    <h2>Logg inn</h2>
    <form action="" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="passord">Passord</label>
        <input type="password" name="passord" id="passord">
        <button>Logg inn</button>
    </form>
    <a href="/registrer">Ikke bruker? Registrer deg her</a>
</body>
</html>